<!DOCTYPE html>
<html>
<head>
    <title>一元购物控管界面</title>
    <link href=#springUrl("/aserts/css/bootstrap.min.css") rel="stylesheet">
    <link href=#springUrl("/aserts/css/style_content.css") rel="stylesheet">
    <script src=#springUrl("/aserts/js/jquery-2.0.0.min.js")></script>
    <script src=#springUrl("/aserts/js/bootstrap.min.js")></script>
    <script>
        $(function(){
            $("#btn_add_finish").on("click",function(){
                $("#user_form").submit();
            });
        })
    </script>
</head>
<body>
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h1>
                用户管理 &gt; 用户列表 &gt; 添加用户
            </h1>
        </div>
    </div>
</div>
<div class="login_content">
    <form id="user_form" class="form-horizontal" role="form" action="#springUrl("/user/add_user")" method="post">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">用户名称</label>

            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="firstname"
                       placeholder="请输入名字">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">用户密码</label>

            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="lastname"
                       placeholder="请输入密码">
            </div>
            <input type="hidden" name="creatorId" value="$!{administrator.id}">
            <input type="hidden" name="creatorName" value="$!{administrator.name}">
        </div>

        <div class="form-group">
            <button class="btn" type="button"><em class="icon-align-left"></em>
                下一步
            </button>
            <button class="btn alert-info"  id="btn_add_finish"  type="button"><em class="icon-align-right"></em>
                完成
            </button>
        </div>
    </form>
</div>
</body>
</html>