.content_left{
    width: 20%;
    float: left;
}
.type_list{
    display: none;
}
.type_list button{
    text-align: right;
}
.permission_list{
    display:none;
}
.permission_list button{
    text-align: right;
}


iframe{
    width:80%;
    height:100%;
    overflow: auto;

}