<!DOCTYPE html>
<html>
<head>
    <title>一元购物控管界面</title>
    <link href=#springUrl("/aserts/css/bootstrap.min.css") rel="stylesheet">
    <link href=#springUrl("/aserts/css/style_content.css") rel="stylesheet">
    <script src=#springUrl("/aserts/js/jquery-2.0.0.min.js")></script>
    <script src=#springUrl("/aserts/js/bootstrap.min.js")></script>
    <script src=#springUrl("/aserts/js/content.js")></script>
    <script>
        $(function(){
            $("#btn_add_finish").on("click",function(){
                var permissions="";
                var options = $(".select_up option");
                $(options).each(function(index){
                    var id = $(this).attr("uid") !=null?$(this).attr("uid"):$(this).attr("aid");
                    if(index == options.length-1){
                        permissions += id;
                    }else{
                        permissions += id+",";
                    }

                })
                $("#input_permissions").val(permissions);
                $("#role_form").submit();
            });
        })
    </script>
</head>
<body>
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h1>
                授权管理 &gt; 角色管理 &gt; 角色编辑
            </h1>
        </div>
    </div>
</div>
<div class="login_content">
    <form id="role_form" class="form-horizontal" role="form" action="#springUrl("/role/edit_operate_role")" method="post">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">角色ID</label>

            <div class="col-sm-10">
                <input type="text" disabled class="form-control" id="firstname"
                       value="${role.id}">
                <input type="hidden" name="id" class="form-control" id="firstname"
                       value="${role.id}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">角色名称</label>

            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="firstname"
                       value="${role.name}">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">角色描述</label>

            <div class="col-sm-10">
                <input type="text" name="description" class="form-control" id="lastname"
                       value="${role.description}">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">角色权限列表</label>

            <div class="col-sm-10">
                <select class="select_list select_up" multiple style="width:100%;height: 100%;">
                    #foreach(${rolePermission} in ${rolePermissionList})
                        <option uid="${rolePermission.id}">
                            ${rolePermission.permission}(${rolePermission.description})
                        </option>
                    #end
                </select>
            </div>
        </div>
        <input id="input_permissions" type="hidden" name="permissions" />
    </form>
    <p>
        <button class="but_to_up"> ︿</button>
        <button class="but_to_down"> ﹀</button>
    </p>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">所有权限列表</label>
        <div class="col-sm-10">
            <select class="select_list select_down" multiple style="width:100%;height: 100%;">
                #foreach(${allPermission} in ${allPermissionList})
                    <option aid="${allPermission.id}">
                        ${allPermission.permission} (${allPermission.description})
                    </option>
                #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <button class="btn alert-info"  id="btn_add_finish"  type="button"><em class="icon-align-right"></em>
            完成
        </button>
    </div>
</div>
</body>
</html>