<link href=#springUrl("/aserts/css/style_left.css") rel="stylesheet">
<script>
    $(function(){
        $("#but_lef_goods").on("click",function(){
            $("iframe").attr("src","#springUrl("/goods/to_goods_index")" );
        });
        $("#but_lef_type").on("click",function(){
            var dom = $(".type_list").css("display");
            if(dom == 'none'){
                $(".type_list").css("display", "block");
            }else{
                $(".type_list").css("display","none");
            }
        });
        $("#but_left_hot").on("click",function(){
            $("iframe").attr("src","#springUrl("/type/to_hot")" );
        });
        $("#but_left_new").on("click",function(){
            $("iframe").attr("src","#springUrl("/type/to_new")" );
        });
    })
</script>
<div class="content_left">
    <div class="list-group">
        <a  class="list-group-item active">
            <h4 class="list-group-item-heading">
                商品管理
            </h4>
        </a>
        <button id="but_lef_goods"class="list-group-item">
            <h4 class="list-group-item-heading">
                详情管理
            </h4>
        </button>
        <button id="but_lef_type" class="list-group-item">
            <h4 class="list-group-item-heading">
                类型管理
                <span class="caret" ></span>
            </h4>
        </button>
        <div class="type_list">
        <button id="but_left_hot" class="list-group-item">
            <h4 class="list-group-item-heading">
                最热商品
            </h4>
        </button>
        <button id="but_left_new" class="list-group-item">
            <h4 class="list-group-item-heading">
                最新商品
            </h4>
        </button>
        <button class="list-group-item">
            <h4 class="list-group-item-heading">
                已经揭晓
            </h4>
        </button>
        </div>
    </div>

    <div class="list-group">
        <button href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
                订单管理
            </h4>
        </button>
        <button href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
                订单详情
            </h4>
        </button>
        <button href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
                订单管理
            </h4>
        </button>
    </div>
    <div class="list-group">
        <button class="list-group-item active">
            <h4 class="list-group-item-heading">
                系统管理
            </h4>
        </button>
        <button class="list-group-item">
            <h4 class="list-group-item-heading">
                账户管理
            </h4>
        </button>
        <button href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
                权限管理
            </h4>
        </button>
    </div>
</div>